.menuItem {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 4px solid #43676B;
    transition: transform 0.3s ease;
    width: 100%;
    padding: 2rem;
}

.menuItem:hover {
    transform: translateX(5px);
}

.menuItem p {
    font-size: 1.1rem
}

.menuItem p::before {
    content: "◇ ";
}

.menuItem p::after {
    content: "(税込み)";
}