.takeout {
    width: 100%;
    margin: 0;
    padding: 40px 30px 40px 30px;
}

.takeout p {
    font-size: 1.1rem;
}

.takeout p::before {
    content: "◇ ";
}

.takeout p::after {
    content: "(税込み)";
}

.takeout div {
    font-size: 1.1rem;
}

.takeout a {
    display: inline-block;
    padding: 0px;
    color: black;
    text-decoration: underline;
}